*{
    margin: 5px;
    padding: 10px;
}
.logo{
    height: 80px;
    float: left;
    display: inline;
}
h1{
display: inline;
font: ;
}

ul {
float: right;
height: 50px;
}
ul li{
    display: inline;
    margin: 0 20px;
    list-style: none;
    font-size: 25px;
}
.cart{
    height: 80px;
    width: 50px;
    float: right;

}
.flex {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  } 
  .heading {
    padding-top: 250px;
    padding-left: 50px;
    font-size: 30px;  
 }
 .bug {
    padding-left: 600px;
    padding-top:20px;
    width: 200px;
 }
 .button{
        border: none;
        border-color: rgb(255, 166, 0);
        height: 50px;
        width: 100px;
        font-size: 20px;
        background-color: rgb(255, 166, 0);
        color: white;
        margin-top: 90px;
        border-radius: 60% 60% 0% 60%;
     
     }
     .tocustomers {
        display:flex;
        float:left;
        background-color:rgb(239, 253, 255);
        height:100%;
        padding: 100px 10px 100px 10px;
    }
    .bell {
       border: 1.5px solid rgb(114, 69, 69);
     padding: 10px;
     margin: 20px;
     float: left;
     width: 40%;
     text-align: center;
     border-radius: 25px; 
    }
    .lorry {
       border: 1.5px solid rgb(114, 69, 69);
       padding: 10px;
       padding-top: 30px;
       padding-bottom: 60px;
       margin: 20px;
       margin-right: 0px;
       float: left;
       width: 40%;
       height: 200px;
       text-align: center;
       border-radius: 25px;
    }
    .savory {
       border: 1.5px solid rgb(114, 69, 69);
       padding: 10px;
       margin: 20px;
       float: left;
       width: 40%;
       text-align: center;
       border-radius: 25px;
    }
    .ourmenu {
        margin-left: 20px;
        display: inline-block;
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 20px;
     }
     h3 {
        text-align: center;
        text-decoration-line: underline;
        text-decoration-color: rgb(255, 166, 0);
        text-decoration-thickness: 10px; 
     }
     .burger1 {
      box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
      padding: 20px;
      margin: 20px;
      margin-left:5%;
      float: left;
      width: 25%;
      text-align: center;
      border-radius: 25px;
        }
        .burger2 { 
           box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
           padding: 20px;
           margin: 20px;
           float: left;
           width: 25%;
           text-align: center;
           border-radius: 25px;
        }
        .burger3 {
           box-shadow: 2px 2px 3px 2px rgb(199, 189, 189);
           padding: 20px;
           margin: 20px;
           float: left;
           width: 25%;
           text-align: center;
           border-radius: 25px;
        }
