*{
    margin: 5px;
    padding: 10px;
}
.logo{
    height: 80px;
    float: left;
    display: inline;
}
h1{
display: inline;
font: ;
}

ul {
float: right;
height: 50px;
}
ul li{
    display: inline;
    margin: 0 20px;
    list-style: none;
    font-size: 25px;
}
.cart{
    height: 80px;
    width: 50px;
    float: right;

}
.flex {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  } 
  .heading {
    padding-top: 250px;
    padding-left: 50px;
    font-size: 30px;  
 }
 .bug {
    padding-left: 600px;
    padding-top:20px;
    width: 200px;
   

