*{
    margin: 5px;
    padding: 10px;
}

.nav{
    height: 50px;
}

.logo{
    height: 80px;
    float: left;
    display: inline;
}
h1{
display: inline;
}

ul {
float: right;
height: 50px;
}
ul li{
    display: inline;
    margin: 0 20px;
    list-style: none;
}
.cart{
    height: 80px;
    width: 50px;
    float: right;

}
.flex {
    display: flex;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
  } 
  .heading {
    padding-top: 30px;
    padding-left: 5px;
    font-size: 30px;  
 }
 .bug {
    padding-left: 500px;
    padding-top:20px;
 }


